<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
    <script type='text/javascript' src="resources/jquery/jquery-3.3.1.min.js"></script>
    <script src='resources/popper/popper.min.js'></script>
    <script src='resources/bootstrap/js/bootstrap.min.js'></script>


</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <table class="table table-hover">
                <tr>
                    <th>Topic Name</th>
                </tr>
                <tr scope="row" th:each="topic : ${topics}">
                    <td th:text="${topic}"/>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input name="options" id="option1" autocomplete="off" checked="" type="radio"> WebService
                </label>
                <label class="btn btn-primary">
                    <input name="options" id="option2" autocomplete="off" type="radio"> Cassandra
                </label>
                <label class="btn btn-primary">
                    <input name="options" id="option3" autocomplete="off" type="radio"> Csv File
                </label>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            Active Workers:
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Started At</th>
                    <th scope="col">Saved To</th>
                    <th scope="col">Processed Items so far</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-success">Persist</button>
        </div>
    </div>
</div>

</body>
</html>