<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
    <script type='text/javascript' src="resources/jquery/jquery-3.3.1.min.js"></script>
    <script src='resources/bootstrap/js/bootstrap.min.js'></script>
    <script src='resources/popper/popper.min.js'></script>

    <script>
    $(document).ready(function(){
       $('#my_radio_box').change(function(){
            selected= $("input[name='options']:checked").val();
            hideDivs()
             $('#' + selected+'div').show();
        });
    });

    function hideDivs(){
        $('#webservicediv').hide();
        $('#cassandradiv').hide();
    }

   function onTableRowClick(e) {
    alert('sds');
    alert($e);

  }

    $(document).ready(function(){
    hideDivs();
    $('#webservicediv').show();

    var counter = 2;

    $("#addButton").click(function () {

	if(counter>10){
            alert("Only 10 Headers allow");
            return false;
	}
	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);

	newTextBoxDiv.after().html('<label>Header #'+ counter + ' : </label>' +
	      '<input type="text" name="header' + counter +
	      '" id="header' + counter + '" value="" >');

	newTextBoxDiv.appendTo("#TextBoxesGroup");
	counter++;
     });

     $("#removeButton").click(function () {
	if(counter==1){
          alert("No more headers to remove");
          return false;
       }

	counter--;

        $("#TextBoxDiv" + counter).remove();

     });

     $("#persistBtn").click(function () {

	var msg = '';
	for(i=1; i<counter; i++){
   	  msg += "\n Header #" + i + " : " + $('#header' + i).val();
	}
    	  alert(msg);
     });

    var currentTopicSelected;

    $("#topicstable tr").click(function(){
        console.log(this);
        if(currentTopicSelected !== null){
            $(currentTopicSelected).addClass('table-light');
            $(currentTopicSelected).removeClass('table-success');
            $(this).addClass('table-success');
            $(this).removeClass('table-light');
        }
        else {
            $(this).addClass('table-success');
            $(this).removeClass('table-light');
        }
        currentTopicSelected = this;
    });



  });
    </script>


    </script>

</head>


<body>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">

        <table id="topicstable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Kafka Topics</th>
            </tr>
          </thead>
          <tbody>
          <tr th:each="topic : ${topics}" class="table-light">
             <td th:text="${topic}"/>
           </tr>
          </tbody>
        </table>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <form id="my_radio_box">
                    <label class="btn btn-primary active">
                        <input name="options" id="option1" value="webservice" autocomplete="off" checked=""
                               type="radio"/>WebService
                    </label>
                    <label class="btn btn-primary">
                        <input name="options" id="option2" value="cassandra" autocomplete="off" type="radio"/> Cassandra
                    </label>
                    <label class="btn btn-primary">
                        <input name="options" id="option3" value="csvfile" autocomplete="off" type="radio"/> Csv File
                    </label>
                </form>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            Active Workers:
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Started At</th>
                    <th scope="col">Saved To</th>
                    <th scope="col">Processed Items so far</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="webservicediv">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="InputUrl">Url Address</label>
            <input type="url" class="form-control" id="urlAddress" aria-describedby="Url location" placeholder="Url">
            <small id="UrlHelp" class="form-text text-muted">Url Location of the WebService</small>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="methodType">Method Type</label>
            <select class="form-control" id="methodType">
                <option>POST</option>
                <option>PUT</option>
            </select>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div id='TextBoxesGroup'>
                <div id="TextBoxDiv1">
                    <label>Header #1 : </label><input type='textbox' id='header1'>
                </div>
            </div>
            <input type='button' value='Add Header' id='addButton'>
            <input type='button' value='Remove Header' id='removeButton'>
        </div>

       <div class="col-sm-2 col-md-2 col-lg-2">
            <label for="ApplicationName">Application Name</label>
            <input type="name" class="form-control" id="appName" aria-describedby="App Name" placeholder="App Name">
            <small id="UrlHelp" class="form-text text-muted">Url Location of the WebService</small>
        </div>


        <div class="col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-success" id='persistBtn'>Persist</button>
        </div>

    </div>


</div>

<div id="cassandradiv">
    cassandra Stuf
</div>


</body>
</html>